@font-face {
	font-family: ITC;
	src: url('itc-symbol-lt-black.ttf');
}

@font-face {
	font-family: AGB;
	src: url('akzidenz-grotesk-bold.ttf');
}

* {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	//border: 1px solid red;
}

#newevent {
	float: left;
	width: 100%;
	background-color: #f4911e;	
	height: auto;
}

header {
	float: left;
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;
	height: auto;
	background-color: #63831D;
}

#ppulogo {
	float: left;
	height: 100%;
	//margin-left: 10px;
	//margin-right: 5%;
}

#ppulogo h1:first-of-type {
	float: left;
	font-size: 3em;
	color: #476611;
	font-family: "ITC", sans-serif;
	text-shadow: 0px 0px;
}

#ppulogo h1 {
	float: left;
	font-size: 3em;
	color: #fdb813;
	font-family: "ITC", sans-serif;
	text-shadow: 0px 0px;
}

#eventcontain {
	float: left;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}


@media screen and (max-width: 1440px) {
	header {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;		
	}	
}


@media screen and (max-width: 1440px) {
	#eventcontain {
		float: left;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;	
	}
	
}

#create {
	float: left;
	background-color: #008fc5;
	width: 50%;
	height: auto;
	padding-left: 25%;
	padding-right: 25%;
	font-family: "AGB";
	color: white;
	text-shadow: .5px .5px black;
}

@media screen and (max-width: 1440px) {
	#create {
		float: left;
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;		
	}
}

#eventform {
	position: relative;
	//border-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #FFE6C9;
	//width: 100%;
	//max-width: 1000px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	//margin-top: 50px;
	margin-bottom: 50px;
}	

label {
	font-family: "AGB";
}

.aside .ui-input-text {
	float: left;
    display:inline-block;
}

.error {
	-moz-box-shadow: 0 0 10px red !important;
	-webkit-box-shadow: 0 0 10px red !important;
	box-shadow: 0 0 10px red !important;
}

#error {
	color: red;
	margin-bottom: 5px;
	font-weight: bold;
}

.banner { 
	position: relative; 
	overflow: auto; 
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 300px;
	background-color: orange;
}

.banner li { 
	list-style: none;
}

.banner ul li { 
	float: left; 
}